<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../home/css/common.css">
    <link rel="stylesheet" href="../home/css/about.css">
	<link href="../home/img/logo.ico" rel="SHORTCUT ICON" />
    <title>关于我们</title>
</head>
<body>
    <div class="main">
        <%- include("header") %>
        <div class="content">
                <div class="about">
                    <img src="../home/img/index/S-logo.png" alt="">
                    <h4>关于易思特</h4>
                    <h5>ABOUT YISITE</h5>
                    <div>
                        <div>
                            <h6>成都易思特企业管理服务咨询有限公司</h6>
                            <p>策点市场调研公司（CCMR）成立于2001年，是一家致力于为不同行业客户提供一站式市场研究服务的机构，总部位于广州，在深圳、北京、香港、南京、沈阳、成都、长沙、新加坡、上海均设有分公司，在积极拓展国内调研业务的同时，策点也将调研业务拓展至海外，于2013年成立了策点海外事业部，2015年成立了新加坡办事处。</p>
                            <p>我们为客户评估潜在市场、解读市场趋势、把脉潜在消费者。我们是一家独立的专注于市场研究的企业，所有的研究都植根于事实的土壤。</p>
                        </div>
                    </div>
                </div>
                <ul>
                    <li>
                        <h6>
                            <span></span>核心研究</h6>
                        <p>策点调研专注于八大核心研究：房地产研究、满意度研究、政府公共服务研究、消费者研究、互联网用户研究、市场进入研究、广告媒介研究以及神秘顾客研究。</p>
                        <p>同时，策点调研亦可为客户个性化制定优质的研究服务；如：大多数研究、检测研究、商圈研究、新产品测试研究、知名度研究、薪酬研究、征信研究、职业教育研究、学术研究等。</p>
                    </li>
                    <li>
                        <h6>
                            <span></span>研究团队</h6>
                        <p>策点拥有丰富从业经验的优秀研究人才，策点研究团队每年完成350份的研究项目，具备良好的跨行业、跨区域、跨专业的多元化视角和思维，历经10逾年的经验积累，策点拥有完备且动态</p>
                        <p>创新的研究技术，能完美胜任不同行业的不同需求。</p>
                    </li>
                    <li>
                        <h6>
                            <span></span>执行网络</h6>
                        <p>经过逾十年的发展，策点调研的数据采集执行网络已经基本覆盖了中国全境。策点在中国大陆地区拥有4300余名访问员以及 223个执行团队，在海外拥有 4个合作公司，可对不同区域的数据</p>
                        <p>采集精细执行。</p>
                        <p>完善的布局保证公司的任何一个项目都可以迅速的执行，并让我们拥有更开阔的视野和为客户提供更优质服务的能力。</p>
                    </li>
                    <li>
                        <h6>
                            <span></span>企业价值</h6>
                        <p>策点调研致力于为客户提供一站式市场研究服务，并依托高质量的数据、提出前瞻性的见解和可落地的解决方案。</p>
                        <p></p>
                    </li>
                    <li>
                        <h6>
                            <span></span>企业愿景</h6>
                        <p>我们希望把策点调研发展为一个全球性品牌，并在中国内地市场研究专业领域中做到最好。</p>
                        <p></p>
                    </li>
                </ul>
        </div>
        <%- include("footer") %>
    </div>
</body>
</html>