<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../home/css/common.css">
    <link rel="stylesheet" href="../home/css/advantage.css">
	<link href="../home/img/logo.ico" rel="SHORTCUT ICON" />
    <title>易思特优势</title>
</head>
<body>
    <div class="main">
        <%- include("header") %>
        <div class="research">
            <img src="../home/img/index/S-logo.png" alt="">
            <h4>易思特优势</h4>
            <h5>YISITE ADVANTAGE</h5>
            <ul>
                <li>
                    <h6>
                        <span></span>执行团队扁平化</h6>
                    <p>策点调研专注于八大核心研究：房地产研究、满意度研究、政府公共服务研究、消费者研究、互联网用户研究、市场进入研究、广告媒介研究以及神秘顾客研究。</p>
                    <p>同时，策点调研亦可为客户个性化制定优质的研究服务；如：大数据研究、监测研究、商圈研究、 新产品测试研究、知名度研究、薪酬研究、征信研究、职业教育研究、学术研究等。</p>
                </li>
                <li>
                    <h6>
                        <span></span>研究团队多元化</h6>
                    <p>策点拥有丰富从业经验的优秀研究人才，策点研究团队每年完成350份的研究项目，具备良好的跨行业、跨区域、跨专业的多元化视角和思维，历经10逾年的经验积累，策点拥有完备且动态</p>
                    <p>创新的研究技术，能完美胜任不同行业的不同需求。</p>
                </li>
                <li>
                    <h6>
                        <span></span>研究技术创新化</h6>
                    <p>经过逾十年的发展，策点调研的数据采集执行网络已经基本覆盖了中国全境。策点在中国大陆地区拥有4300余名访问员以及 223个执行团队，在海外拥有 4个合作公司，可对不同区域的数据</p>
                    <p>采集精细执行。</p>
                    <p>完善的布局保证公司的任何一个项目都可以迅速的执行，并让我们拥有更开阔的视野和为客户提供更优质服务的能力。</p>
                </li>
                <li>
                    <h6>
                        <span></span>执行网络精细化</h6>
                    <p>策点调研效力于为客户提供一站式市场研究服务，并依托高质量的数据、提供前瞻性的见解和可落地的解决方案。</p>
                </li>
            </ul>
        </div>
        <%- include("footer") %>
    </div>
</body>
</html>