<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../home/css/common.css">
    <link rel="stylesheet" href="../home/css/detailCase.css">
    <link href="../home/img/logo.ico" rel="SHORTCUT ICON" />
    <title>具体案例</title>
</head>
<body>
<div class="main">
    <%- include("header") %>
    <div class="research">
        <h5>陶朗集团坚果消费者去壳需求挖掘研究</h5>
        <p>陶朗集团（TOMRA）总部位于挪威的阿斯克，是全球分选领域的领军品牌，近年来，随着中国国内坚果食用爱好者的显著增加，陶朗集团有意进入坚果领域的分选及去壳。</p>
        <p>为精准判断国内消费者对坚果去壳的食用偏好及品类偏好，2017年12月，策点调研接受陶朗集团委托，对全国坚果零食的爱好者进行定性座谈会访谈，以定性调研的方式，深度挖掘消费者关于坚果零食产品的消费习惯、食用场景、食用习惯、关注因素、价格接受度等信息，了解目前市面上坚果产品的痛点，测试消费者对去壳坚果和坚果新食用方式的接受意愿度、推荐度。通过对调研所得数据的整合分析，获取最直观科学的研究数据。</p>
        <p>最终的报告将为陶朗集团引导消费者坚果食用习惯，去壳产品机械推广等战略规划方面提供决策参考。</p>
    </div>
    <%- include("footer") %>
</div>
</body>
</html>