<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../home/css/common.css">
    <link rel="stylesheet" href="../home/css/index.css">
	<link href="../home/img/logo.ico" rel="SHORTCUT ICON" />
    <title>首页</title>
</head>
<body>
    <div class="main">
       <%- include("header") %>
        <div class="content">
            <div class="about">
                <img src="../home/img/index/S-logo.png" alt="">
                <h4>关于易思特</h4>
                <h5>ABOUT YISITE</h5>
                <div>
                    <div>
                        <h6>成都易思特企业管理服务咨询有限公司</h6>
                        <p>一直以来，易思特投入巨资打造自己的技术团队，技术团队是翊源的核心驱动力，翊源的几个部门协调合作，共同承担起公司市场需求分析、产品设计、产品开发、产品定制和运营维护的重要责任，满足了客户多样化的产品需求，为广大中小型企业提供全面、专业的一站式服务。</p>
                        <p>易思特的技术团队积累了大批经验丰富的资深技术人才，其中更有来自微软、腾讯、华为、诺基亚等优秀人才的加盟，已经成为中小型企业完成“互联网+”转型，建立行业竞争优势的利器，正在为广大客户提供强有力的技术和业务运营支持。</p>
                    </div>
                </div>
            </div>
            <div class="research">
                <img src="../home/img/index/S-logo.png" alt="">
                <h4>核心研究</h4>
                <h5>CORE RESEARCH</h5>
                <ul>
                    <li class="left">
                        <img src="../home/img/index/research1.png" alt="">
                        <strong>消费者研究</strong>
                        <span>CONSUMER RESEARCH</span>
                        <a href="/research">查看详情 &rarr;</a>
                    </li>
                    <li>
                        <img src="../home/img/index/research2.png" alt="">
                        <strong>满意度研究</strong>
                        <span>CONSUMER RESEARCH</span>
                        <a href="/research">查看详情 &rarr;</a>
                    </li>
                    <li>
                        <img src="../home/img/index/research3.png" alt="">
                        <strong>房地产研究</strong>
                        <span>CONSUMER RESEARCH</span>
                        <a href="/research">查看详情 &rarr;</a>
                    </li>
                    <li>
                        <img src="../home/img/index/research4.png" alt="">
                        <strong>公共服务研究</strong>
                        <span>CONSUMER RESEARCH</span>
                        <a href="/research">查看详情 &rarr;</a>
                    </li>
                </ul>
                <ul>
                    <li class="left">
                        <img src="../home/img/index/research5.png" alt="">
                        <strong>互联网用户研究</strong>
                        <span>CONSUMER RESEARCH</span>
                        <a href="/research">查看详情 &rarr;</a>
                    </li>
                    <li>
                        <img src="../home/img/index/research6.png" alt="">
                        <strong>市场进入研究</strong>
                        <span>CONSUMER RESEARCH</span>
                        <a href="/research">查看详情 &rarr;</a>
                    </li>
                    <li>
                        <img src="../home/img/index/research7.png" alt="">
                        <strong>广告媒介研究</strong>
                        <span>CONSUMER RESEARCH</span>
                        <a href="/research">查看详情 &rarr;</a>
                    </li>
                    <li>
                        <img src="../home/img/index/research8.png" alt="">
                        <strong>神秘顾客研究</strong>
                        <span>CONSUMER RESEARCH</span>
                        <a href="/research">查看详情 &rarr;</a>
                    </li>
                </ul>
            </div>
            <div class="case">
                <img src="../home/img/index/S-logo1.png" alt="">
                <h4>成功案例</h4>
                <h5>SUCCESS CASE</h5>
                <a class="on left" href="/detailCase">连锁/零售</a><a href="/detailCase">快销/日化</a><a href="/detailCase">政府/组织</a><a href="/detailCase">家具/建材</a><a href="/detailCase">金融保险</a><a href="/detailCase">汽车工业</a>
                <div id="msg">
                <ul>
                    <li class="left">
                        <a href="/detailCase">
                            <img src="../home/img/index/case1.png" alt="">
                            <div>
                                <h6>陶朗集团坚果消费者去壳需求挖掘研究</h6>
                                <p>
                                    陶朗集团(TOMRA)总部位于挪威的阿斯克,是全球分选领域的领军品牌,近年来,随着中国国内坚果食用爱好者的显著增加,陶朗集团有意进入坚果领...
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/detailCase">
                            <img src="../home/img/index/case2.png" alt="">
                            <div>
                                <h6>葛洲坝循环经济产业园可行性研究</h6>
                                <p>
                                    再生资源循环经济指在社会生产和生活消费过程中产生的已经失去原有全部或部分使用价值,经过回收、加工处理能够使其重新获得使用价值的各种废弃...
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li class="left">
                        <a href="/detailCase">
                            <img src="../home/img/index/case3.png" alt="">
                            <div>
                                <h6>韶瑞重工产品满意度及后市场需求挖掘研究</h6>
                                <p>
                                    关市韶瑞重工业有限公司是一家集研发、加工、制造、销售及售后服务为一体的专业机械设备企业,主营颚式破碎机圆锥式破碎机,反击式破碎机,立式冲击...
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/detailCase">
                            <img src="../home/img/index/case4.png" alt="">
                            <div>
                                <h6>天津中国铁建广场商业定位研究</h6>
                                <p>
                                    委托客户简介 中国铁建股份有限公司公司(简称中国铁建，简称 CRCC),由中国铁道建筑总公司于2007年11月5日在北京成立,为国务院国有资产监督管...
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
                </div>
                <a href="./successCase" class="more">查看更多</a>
            </div>
            <div class="news" id="news">
                <img src="../home/img/index/S-logo.png" alt="">
                <h4>新闻资讯</h4>
                <h5>NEWS AND INFORMATION</h5>
                <ul>
                    <li class="left">
                        <a href="/detailCase">
                            <div>
                                <div class="news_left">
                                    <h>24</h>
                                    <p>2018.08</p>
                                </div>
                                <img src="../home/img/news/n_1001.png" alt="">
                                <div class="news_right">
                                    <h6>中国4G时代新品牌设计者</h6>
                                    <p>有道翻译提供及时免费的中文、英语、日语、韩语、法语、俄语、西班牙语等等。。。。</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/detailCase">
                            <div>
                                <div class="news_left">
                                    <h>24</h>
                                    <p>2018.08</p>
                                </div>
                                <img src="../home/img/news/n_1001.png" alt="">
                                <div class="news_right">
                                    <h6>中国4G时代新品牌设计者</h6>
                                    <p>有道翻译提供及时免费的中文、英语、日语、韩语、法语、俄语、西班牙语等等。。。。</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li class="left">
                        <a href="/detailCase">
                            <div>
                                <div class="news_left">
                                    <h>24</h>
                                    <p>2018.08</p>
                                </div>
                                <img src="../home/img/news/n_1001.png" alt="">
                                <div class="news_right">
                                    <h6>中国4G时代新品牌设计者</h6>
                                    <p>有道翻译提供及时免费的中文、英语、日语、韩语、法语、俄语、西班牙语等等。。。。</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/detailCase">
                            <div>
                                <div class="news_left">
                                    <h>24</h>
                                    <p>2018.08</p>
                                </div>
                                <img src="../home/img/news/n_1001.png" alt="">
                                <div class="news_right">
                                    <h6>中国4G时代新品牌设计者</h6>
                                    <p>有道翻译提供及时免费的中文、英语、日语、韩语、法语、俄语、西班牙语等等。。。。</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li class="left">
                        <a href="/detailCase">
                            <div>
                                <div class="news_left">
                                    <h>24</h>
                                    <p>2018.08</p>
                                </div>
                                <img src="../home/img/news/n_1001.png" alt="">
                                <div class="news_right">
                                    <h6>中国4G时代新品牌设计者</h6>
                                    <p>有道翻译提供及时免费的中文、英语、日语、韩语、法语、俄语、西班牙语等等。。。。</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/detailCase">
                            <div>
                                <div class="news_left">
                                    <h>24</h>
                                    <p>2018.08</p>
                                </div>
                                <img src="../home/img/news/n_1001.png" alt="">
                                <div class="news_right">
                                    <h6>中国4G时代新品牌设计者</h6>
                                    <p>有道翻译提供及时免费的中文、英语、日语、韩语、法语、俄语、西班牙语等等。。。。</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <a href="./news" class="more">查看更多</a>
            </div>
            <div class="contact">
                <img src="../home/img/index/S-logo.png" alt="">
                <h4>联系我们</h4>
                <h5>CONTACT US</h5>
                <ul>
                    <li class="left">
                        <h6>您的联系方式</h6>
                        <input type="text" name="" id="" placeholder="请输入您的姓名">
                        <input type="text" name="" id="" placeholder="请输入您的电子邮件地址">
                        <input type="text" name="" id="" placeholder="请输入您的电话号码">
                        <textarea name="" id="" cols="30" rows="10" placeholder="请输入您遇到的问题"></textarea>
                        <input type="button" value="立即发送" id="btn">
                    </li>
                    <li class="right">
                        <h6>人才加入</h6>
                        <p>再策点你不只是得到一份工作，而且可以得到一个终身学习的平台</p>
                        <p>再策点你不只是得到一个某方面的专家，你必须涉猎和深悟更多的行业</p>
                        <p>再策点你需要将你的智商和情商完美的结合，从而为我们的客户创造最大的价值</p>
                        <p>再策点你必须坚持的就是真实，然后还是真实。我们将追求真实数据视为企业的生命</p>
                        <p class="on">我们需要：研究经理、项目经理、项目督导、实习生</p>
                        <ul>
                            <li>四川省成都市高新区，天益街38号，理想中心4栋407</li>
                            <li style="background: url(../home/img/index/shape2.png) no-repeat 0 0/24px 24px;">028-8441 7660</li>
                            <li style="background: url(../home/img/index/shape3.png) no-repeat 0 0/24px 24px;">hr@yufankeji.cn</li>
                            <li style="background: url(../home/img/index/shape4.png) no-repeat 0 0/24px 24px;">www.yiyuan028.com</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <%- include("footer") %>
    </div>
</body>
</html>