<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../home/css/common.css">
    <link rel="stylesheet" href="../home/css/research.css">
	<link href="../home/img/logo.ico" rel="SHORTCUT ICON" />
    <title>核心研究</title>
</head>
<body>
    <div class="main">
        <%- include("header") %>
        <div class="research">
            <img src="../home/img/index/S-logo.png" alt="">
            <h4>公共服务研究</h4>
            <h5>PUBULCSERVICE RESEARCH</h5>
            <!-- <ul>
                <li>
                    <h6>
                        <span></span>研究定义</h6>
                    <p>策点调研专注于八大核心研究：房地产研究、满意度研究、政府公共服务研究、消费者研究、互联网用户研究、市场进入研究、广告媒介研究以及神秘顾客研究。</p>
                    <p>同时，策点调研亦可为客户个性化制定优质的研究服务；如：大多数研究、检测研究、商圈研究、新产品测试研究、知名度研究、薪酬研究、征信研究、职业教育研究、学术研究等。</p>
                </li>
                <li>
                    <h6>
                        <span></span>研究目的</h6>
                        <ul>
                            <li><h6><i></i>了解消费者习惯，挖掘消费痛点，寻找市场机会。</h6></li>
                            <li><h6><i></i>了解消费者群体特征，对消费者进行群体画像。</h6></li>
                            <li><h6><i></i>评估企业品牌、产品、服务市场竞争力。</h6></li>
                            <li><h6><i></i>指导企业在产品定位、市场雏分、渠道建设、差异化精准、价格组合、精准营销等方面提供科学依据</h6></li>
                        </ul>
                    </li>
                <li>
                    <h6>
                        <span></span>探究内容</h6>
                        <ul>
                            <li><h6><i></i>消费现状</h6>
                                <p>购买什么产品和品牌？在什么渠道购买产品？购买数量是多少？花多少钱购买？通过什么渠道购买？</p>
                            </li>
                            <li><h6><i></i>消费驱动力</h6>
                                <p>购买的目的是什么？购买驱动力是什么？看中哪些功能？</p>
                            </li>
                            <li><h6><i></i>消费期望和关注</h6>
                                <p>哪些潜在需求未被满足？哪些需求不完美？期望有哪些改进？最关注的因素是什么？</p>
                            </li>
                            <li><h6><i></i>媒介渠道</h6>
                                <p>通过什么媒介渠道了解产品信息</p>
                            </li>
                            <li><h6><i></i>消费者背景资料</h6>
                                <p>年龄、收入、性别、职业等。</p>
                            </li>
                        </ul>
                    </li>
                <li>
                    <h6>
                        <span></span>研究模型</h6>
                    <p>三级需求模型</p>
                </li>
                <li>
                    <h6>
                        <span></span>典型案例</h6>
                    <p>2009年，美国迈科集团正式进入中国，开始了中国润滑油业务的开拓，面对诸如美孚、壳牌等品牌的冲击，如何保证在现有份额的前提下抢占竞品市场？消费者的行为习惯是什么？</p>
                    <p>消费者的决策是什么？终端销售人员在整个销售环节对消费者有何影响？</p>
                    <p>基于以上问题，策点研究受美国迈科润滑油委托，对珠三角地区进行润滑油消费者的研究，希望籍以不同类型车主、车队采购负责人以及不同销售终端工作人员的调研，研究润滑油的</p>
                    <p>市场消费特征，从而为委托客户产品品牌定位、市场营销特定提供数据支持。</p>
                </li>
            </ul>
        </div> -->
        <%- include("footer") %>
    </div>
</body>
</html>